body {
  background: rgba(134, 216, 181, 100);

  background: radial-gradient(rgb(134, 216, 181), rgb(117, 190, 159));

  color: #000; /* Fallback for older browsers */
  color: rgba(0, 0, 0, 0.8);
}

h2 { font-size: 80px; }
h3 { font-weight: bold; margin-top: 20px; }

dt {
  font-weight: bold;
}

.step { position: relative; }

/* hint for my prez */
.impress-on-title .hint {
    opacity: 1;

    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s;
    transition:         opacity 1s 5s,         transform 0.5s;

    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);
}

#authorization-hierarchy.step { width: 630px; }

#authorization-hierarchy li, #security li, li { font-size: .7em; }

#authorization-hierarchy ul, #security ul, ul { list-style: circle; padding-left: 50px; }

#authorization-hierarchy img.hierarchy-icon {
  display: block;
  width: 600px;
  margin: 0 auto;
  margin-top: -100px;
}

#enrollment .enrollment-icon {
  display: block;
  opacity: .6;
  width: 100px;
  margin: 0 auto;
}

#security.step { width: 700px; }

#security .token-icon { width: 300px; }

#security .token-icons {
  width: 320px;
  display: block;
  margin: 0 auto;
}

#phr.step { width: 600px; }

#phr .phr-icon {
  display: block;
  opacity: .7;
  width: 100px;
  margin: 0 auto;
}
